body{
    background: #F5F5F5;
}
span{
    color: limegreen;
}
.nameShop{
    margin-top: 63px;
    margin-left: 85px;
    margin-bottom: 4966px;
    margin-right: 1183px;
}
.searchButton{
    /*margin-top: 77.75px;*/
    /*margin-left: 772.75px;*/
    /*margin-bottom: 4982.75px;*/
    /*margin-right: 649.75px;*/
}